.titol {
    color: red;
    text-decoration: double;
    font-size: medium;
}
.Segontitol {
    color: aqua;
}
body {
    background-color: rgb(99, 0, 255);
}
img.miniatura
{
    border: 4px solid rgb(218, 255, 0);
    margin: 50px;
    padding: 20px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
ul li {
    list-style-type: upper-latin;
}